.Border { 
	fill: none; 
	stroke: blue; 
	stroke-width: 1 
}

.Connect { 
	fill: none; 
	stroke: #888888; 
	stroke-width: 2 
}

.SamplePath { 
	fill: none; 
	stroke: red; 
	stroke-width: 20 
}

.EndPoint { 
	fill: #888888;
	stroke: none
}

.CtlPoint { 
	fill: #888888;
	stroke :none 
}

.AutoCtlPoint { 
	fill: none; 
	stroke:blue; 
	stroke-width: 4
}
       
