#content{
    margin: 10px;
}

li.closed {
    list-style-type: disc;
    cursor : pointer;
}
li.open {
    list-style-type: circle;
    cursor : pointer;
}

.node-neighbors{
    margin: 3px;
    color:#8699a4;
}

.node-value{
    margin: 3px;
    color: #EE5757;
}

#graphicalView svg {
	width: 100%;
	height: 1000px;
}

#graphicalView .groupnode {
    cursor: move;
}

#graphicalView .groupnode text {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
}